$main-color: #ffffff;
$main-colortwo: #c70101;
@font-face {
    font-family: "MuseoSans100";
    src: url("../fonts/MuseoSansCyrl-100.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: "Museonsans100italic";
    src: url("../fonts/MuseoSansCyrl-100Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 100;
}
@font-face {
    font-family: "Museosans300";
    src: url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Museo sans300italc";
    src: url("../fonts/MuseoSansCyrl-300Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "Museosans500";
    src: url("../fonts/MuseoSansCyrl-500.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Museosans500Italic';
    src: url("../fonts/MuseoSansCyrl-500Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: "Museosans700";
    src: url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Museosans700Italic";
    src: url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
@mixin flex-space-between-center-justify-content {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

*{
    font-family: Museosans300,serif;
}
.container{
    max-width: 950px;
    margin: 0 auto;
}
.promo{
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/header/bg/bg.png) center (center/cover) no-repeat;
    .promo-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 70px;
        .button-main{
            width: 300px;
            height: 50px;
            border-radius: 5px;
            background-color:$main-colortwo;
            color:$main-color;
            border:none;
            font-size: 16px;
            font-family: Museosans500;
            text-transform: uppercase;
            margin-top: 35px;
        }
    }
    .promo-header{
        font-size: 42px;
        font-family: Museosans700;
        font-weight: 700;
        text-transform: uppercase;
        color:$main-color;
    }
    .promo-subheader{
        margin-top: 17px;
        color:$main-color;
        font-size: 24px;
        line-height: 24px;
        font-family: Museosans500;
        font-weight: 500;
        text-transform: uppercase;
    }
    .promo-icons{
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    .promo-icon{
        text-align: center;
        color:$main-color;
        font-size: 14px;
        font-family: Museosans500;
        font-weight: 500;
        img{
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
            width: 45px;
        }
    }
    .promo-link{
        color:$main-color;
        font-size: 16px;
        font-family: Museosans500;
        margin-top: 18px;
        a{
            text-transform: uppercase;
            text-decoration: underline;
            color:$main-color;
            
        }
    }
}
.header{
    @include flex-space-between-center-justify-content;
    .header-logo{
         width: 250px;
         img{
            width: 90%
         }    
    }
    .header-official{
        color: $main-color;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        span{
            display: block;
            font-size: 18px;
        }
     }
     .header-contacts{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .header-phone{ 
            display: block;
            color:$main-color;
            text-decoration: none;
            font-size: 18px;
            font-weight: 700;
            &:hover{
                color:$main-color;
                text-decoration: none;
            }
        }
        .button{
            width: 150px;
            height: 30px;
            border-radius: 5px;
            color:$main-color;
            background-color: $main-colortwo;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 12px;
            border: none;
        }
     }
}
.prem{
    display: block;
    min-height: 473px;
    .prem-text{
        margin-top: 70px;
        text-align: center;
        font-family: Museosans700;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 90px;
    }
    .prem-predcontent{
        .prem-content{
            display: flex;
            justify-content: space-around;
            .prem-icon{
                margin: 0 25px;
                .holiday{
                    margin-right: 90px;
                }
                span{
                    display: block;
                    text-align: center;
                    font-family: Museosans700;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 29px;
                    margin-top: 20px;
                }
                img{
                    width: 70px;
                    margin-left: 100px;
                }
            }
        }
    }
    // }
}

