@import url(/src/sass/base/_mixin.scss);
@import url(/src/sass/base/_variebles.scss);
@import url(/src/sass/base/_fonts.scss);


p{
    font-family: MuseoSansCyrl-300;
    font-size: 90px;
    font-weight: 700;
}
@import url(/src/sass/base/_media.scss);
